*#
*~
.#*
/.tidyall.d/
/Distar
/MANIFEST
/MANIFEST.SKIP
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/MetaCPAN-Common-*.tar
/MetaCPAN-Common-*.tar.gz
/MetaCPAN-Common-*/
/README
/_eumm/
/blib/
/cover_db/
/pm_to_blib
